In [4]:
import pandas as pd
import numpy as np

In [6]:
my_series = pd.Series([1, 3, 5, np.nan, 6, 8])

In [7]:
my_series

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
type(my_series)

pandas.core.series.Series

In [43]:
my_series = pd.Series([[1, 3, 5, NaN, 6, 8,7,8],[1, 3, 5, np.nan, 6, 8],[1, 3, 5, np.nan, 6, 8]])

In [44]:
my_series

0    [1, 3, 5, Nan, 6, 8, 7, 8]
1          [1, 3, 5, nan, 6, 8]
2          [1, 3, 5, nan, 6, 8]
dtype: object

In [40]:
my_dataframe = pd.DataFrame([[1, 3, 5, np.nan, 6, 8,7,8],[1, 3, 5, np.nan, 6, 8],[1, 3, 5, np.nan, 6, 8]])

In [41]:
my_dataframe

   0  1  2   3  4  5    6    7
0  1  3  5 NaN  6  8  7.0  8.0
1  1  3  5 NaN  6  8  NaN  NaN
2  1  3  5 NaN  6  8  NaN  NaN

In [36]:
type(my_series[0])

list

In [37]:
type(my_dataframe[0])

pandas.core.series.Series

In [32]:
my_dataframe[2][0]

5